.bike-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    background: $bg_color;
  
    &__logo {
      width: 100%;
      position: relative;
      padding-top: 56.25%;
  
    }
  
    &__logo__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }
  
    &__subtitle {
      margin-top: 25px;
    }
  
  }