@import "main";

.builet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
  background: $bg_color;

  &__list {
    max-width: 220px;
    width: 100%;
  }

  &__list__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 210px;
    margin-bottom: 26px;
  }

  &__list__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $purple;
    margin-right: 15px;
  }

  &__list__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: $subtitle_color;
    font-size: 19px;

  }

  &__list__text__title {
    color: $title_color;
    font-size: 12px;
    margin-bottom: 25px;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  &__text__title {
    margin-bottom: 46px;
    max-width: 440px;
  }

  &__text__subtitle {
    max-width: 317px;
  }

}