@import "main";

@media screen and (max-width: 1920px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
  .purple {
    background-position: center;
    background-size: cover;

  }
  .move-with-impact {
    background-position: center;
    background-size: cover;

  }
  .move-with-impact__subtitle {
    padding-bottom: 811px;
  }
}

@media screen and (max-width: 1328px) {
  .footer {
    display: flex;
    position: relative;
    flex-direction: column;
    background: $bg_color;
  }
  .item-right {
    position: absolute;
    left: 0;
  }
  .item-left {
    position: absolute;
    right: 0;
  }
  .footer-text {
    margin-top: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .builet__list {
    position: relative;
    left: -250px;
  }
  .builet__list__text__title {
    font-size: 25px;
  }
  .builet__logo__img {
    position: relative;
    bottom: -350px;
  }
}

@media screen and (max-width: 879px) {
  .builet__list {
    position: static;
    left: 0;
    margin-top: 20px;
  }
  .builet__logo__img {
    position: static;
    bottom: 0;
  }
  .move-with-impact__title {
    font-size: 55px;
    text-align: center;
    padding-right: 5px;
  }
  .move-with-impact__subtitle {
    padding-right: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    background: $bg_color;
  }
  .header-button {
    display: none;
  }
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__btn {
    display: flex;
    position: fixed;
    align-items: center;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #7140EB;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }

  .purple .title {
    font-weight: 600;
  }
  .purple-button {
    display: none;
  }
  .title {
    font-size: 45px;
  }
  .subtitle {
    font-size: 25px;
  }
  .move-with-impact {
    background-position: center;
    background-size: cover;

  }
  .move-with-impact__subtitle {
    padding-bottom: 200px;
  }
  .bike-part__title {
    max-width: 329px;
    text-align: center;
    font-weight: bold;
  }
  .bike-part__subtitle {
    max-width: 320px;
  }
  .photo-items__title {
    padding-left: 50px;
  }
  .photo-items__subtitle {
    padding-left: 50px;
  }
  .photo-items__picture__item {
    display: flex;
    flex-direction: column-reverse;
  }
  .photo-items__picture__text {
    margin-bottom: 10px;
    font-weight: bold;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 15px;
  }

  .purple .title {
    font-size: 30px;
  }

  .move-with-impact {
    background-position: left;
    background-size: cover;

  }
  .move-with-impact__title {
    font-size: 45px;
  }
  .move-with-impact__subtitle {
    padding-bottom: 200px;
  }
  .builet__logo__img {
    display: none;
  }
  .builet__text__title {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }
  .builet__text__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .photo-items {
    padding-top: 100px;
  }

  .photo-items__title {
    margin: 0 auto;
  }

  .photo-items__subtitle {
    text-align: center;
    padding: 0 10px;
    margin-top: 10px;
  }

  .bike-part__text {
    margin-bottom: 20px;
    padding: 20px 10px;
  }
  .footer-img {
    display: none;
  }
  .footer-text {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .move-with-impact {
    background-position: left;
    background-size: cover;

  }
}