.three-photos-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 194px;
    background: $bg_color;
  
    &__title {
      padding-left: 182px;
    }
  
    &__subtitle {
      padding-bottom: 174px;
      padding-left: 182px;
      max-width: 500px;
  
    }
  
    &__picture {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }
  
    &__picture__text {
      color: $title_color;
      font-size: 23px;
      max-width: 287px;
      margin-top: 77px;
    }
  }